<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-button style="margin: auto;" (click)="runCalculateSunday()">
        {{ isPrint ? 'Limpiar' : 'Calcular los domingos desde 1901-01-01 hasta 2000-12-31'}}
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let item of print">
      <p>{{item}}</p>
    </ion-item>
    <ion-item *ngFor="let item of list">
      <ion-row (click)="openCatalog(item)">
        <ion-col size="3">
          <img alt="Silhouette of mountains" [src]="item.image" />
        </ion-col>
        <ion-col>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCatalog()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>